{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}

<h2 style="color:#1b5568;padding-left: 10px;">{{listing.title}}</h2>
{% if user.is_authenticated %}
{% if listing.available is True %}
{% if watchlist == 0 %}
<form action="{% url 'addWatchlist' user.id listing.id %}" method=post>
    {% csrf_token %}
    <input type="submit" value="Add Watchlist" style="background-color: #9a9d9f;
            color:rgb(237, 237, 237);
            border-radius: 10px;font-size: 11px;">
</form>
{% else %}
<form action="{% url 'removeWatchlist' user.id listing.id 0 %}" method=post>
    {% csrf_token %}
    <input type="submit" value="Remove Watchlist" style="background-color: #9a9d9f;
    color:rgb(237, 237, 237);
    border-radius: 10px;font-size: 11px;">
</form>
{% endif %}
{% else %}
<strong>CLOSED.</strong>
{% if listing.bid_winner == user.username %}
<h3>Congratulations, {{listing.bid_winner}}!!
    This listing is yours for a price of ${{listing.current_bid}}</h3>
{% endif %}
{% endif %}
<hr>
{% endif %}
<hr>
<div style="width: 100%; height: 130%; padding-left: 20px;">
    {% if listing.pic_url|length > 0 %}
    <img src="{{ listing.pic_url }}" alt="image of {{ listing.title }}" width="30%" height="20%">
    {% endif %}
</div>
<br>
{{listing.description}}
{% if listing.available is True %}
<strong>
    <p style="font-size: 20px; ">${{listing.current_bid}}</p>
</strong>
<p style="font-size: 10px;">
    {{listing.bids}} bid(s) so far.
</p>
{% endif %}
{% if user.is_authenticated %}
{% if listing.available is True %}
<form action="{% url 'placeBid' user.id listing.id%}" method=post>
    {% csrf_token %}
    {% if listing.bids == 0 %}
    <input name="bid" min="{{listing.current_bid}}" style="width:60%; margin-left: 15px;" placeholder="Bid..."
        type=number></input>
    {% else %}
    <input name="bid" min="{{listing.min_bid}}" style="width:60%; margin-left: 15px;" placeholder="Bid..."
        type=number></input>{% endif %}
    <input type="submit" value="Place Bid" style="background-color: #00a2ed;
            color:rgb(237, 237, 237);
            border-radius: 5px;">
</form>
{% endif %}
{% endif %}
<p>
    <strong style="font-size: 20px;">Details: </strong>
    <br>
<ul>
    <li>
        <strong style="color:#1b5568"> Listed By:</strong> {{listing.user_username}}
    </li>
    <li>
        <strong style="color:#1b5568"> Category:</strong> {{listing.category_id}}
    </li>
</ul>
<strong style="font-size: 20px;">Comments:</strong><br><br>
{% if user.is_authenticated %}
{% if listing.available is True %}

<form action="{% url 'comment' listing.id user.id%}" method=post>
    {% csrf_token %}
    <input name="body" style="width:60%; margin-left: 15px;" placeholder="Add Comment..."></input>
    <input type="submit" value="Add" style="background-color: #00a2ed;
            color:rgb(237, 237, 237);
            border-radius: 5px;">
</form>
<hr>
{% endif %}
{% endif %}
<ul>
    {% for comment in comments %}
    <li><strong style="color:#1b5568;font-size: 15px;"> {{comment.user_username}}: </strong>
        <p style="font-size: 16px;  margin-left: 15px;">
            {{comment.body}}</p>
        {% if user.id == comment.user_id %}
        <form action="{% url 'delcomment' comment.id listing.id %}" style="text-align: right;">

            <input type="submit" value="Delete"
                style="background-color: #c53022;color:rgb(255, 255, 255); font-size: 11px; text-align:right;">
        </form>
        {% endif %}

    </li>
    {% endfor %}
</ul>
<hr>
{% if user.is_authenticated %}
{% if listing.available is True %}

{% if listing.user_id == user.id %}
<form action="{% url 'closeBid' listing.id%}" method=post style="text-align: right;">
    {% csrf_token %}
    <input type="submit" value="Close Bid" style="background-color:#1b5568;
            color:rgb(237, 237, 237);
            border-radius: 5px;">
</form>
{% endif %}
{% endif %}
{% endif %}

{% endblock %}