{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<h2 style="color:#1b5568;padding-left: 10px;"> Add a New Listing!</h2>
<hr>

<div>
    <form action="{% url 'save' user.id %}" method=post>
        {% csrf_token %}
        <strong style="color:#1b5568">Title:</strong>
        <input name="title" style="width:60%; margin-left: 15px;" placeholder="Enter Title..." required></input>
        <hr>
        <strong style="color:#1b5568"> Description:</strong>
        <input name="description" style="width:60%; height: 70px;margin-left: 15px;" placeholder="Enter Description..."
            required></input>
        <hr>
        <strong style="color:#1b5568">Current Bid:</strong>
        <input name="bid" style="width:10%; height: 30px;margin-left: 15px;" type="number"></input>
        <hr>
        <strong style="color:#1b5568"> Picture URL:</strong>
        <input name="url" style="width:60%; height: 50px;margin-left: 15px;" placeholder="Url if exists..."></input>
        <hr>
        <label for="category">
            <strong style="color:#1b5568"> Category: </strong>
        </label>
        <select name="category" id="category">
            <option value="None"> None</option>
            {% for category in categories %}
            <option value="{{ category.name}}"> {{category.name}}</option>
            {% endfor %}
        </select>
        <hr>
        <input type="submit" value="Create" style="background-color: #00a2ed;
            color:rgb(237, 237, 237);
            border-radius: 5px;
            margin-left: 25%;">
    </form>
</div>
{% endblock %}