{% extends "encyclopedia/layout.html" %}

{% block title %}
Create a New Page
{% endblock %}

{% block body %}

<div>
    <form action="/wiki/new">
        <p><label style="margin-top: 2%; font-size: 40px; margin-left: 15px;"> Design your own page</label></p>
        <input name="title" style="width:60%; margin-left: 15px;margin-bottom: 15px;" placeholder="Enter Title"></input>
        <textarea name="body" style="width:60%; height: 450px;margin-left: 15px;"placeholder="Enter Body"></textarea>
        <br>
        <input type="submit" value="Submit" 
        style="background-color: #00a2ed;
            color:rgb(237, 237, 237);
            border-radius: 5px;
            margin-left: 25%;">
    </form>
</div>
{% endblock %}