{% extends "encyclopedia/layout.html" %}

{% block title %}
editing {{title}}
{% endblock %}

{% block body %}
<div>
    <form action="/wiki/save/{{title}}">
        <input name="title" style="width:60%; margin-left: 15px;margin-bottom: 15px;"readonly placeholder="{{title}}"></input>
        <textarea name="body" style="width:60%; height: 450px;margin-left: 15px;">{{ body }}</textarea>
        <br>
        <input type="submit" value="Save" 
        style="background-color: #00a2ed;
            color:rgb(237, 237, 237);
            border-radius: 5px;
            margin-left: 25%;">
    </form>
</div>
{% endblock %}